### Q1. Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples
is_symmetrical(7227) ➞ True 

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [15]:
def is_symmetrical(num):
    ans=0
    inp=num
    while num>0:
        dig=num%10
        ans=ans*10+dig
        num=num//10
    if inp==ans:
        return True
    else:
        return False
is_symmetrical(9939)

False

In [14]:
is_symmetrical(1112111)

True

### Q2. Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [28]:
def multiply_nums(inp):
    out=inp.split(", ")
    pr=1
    for i in out:
        pr=pr*int(i)
    return pr
multiply_nums("1, 2, 3, 4")

24

In [26]:
multiply_nums("54, 75, 453, 0")

0

In [27]:
multiply_nums("10, -2")

-20

### Q3. Create a function that squares every digit of a number.
Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
#### Notes
The function receives an integer and must return an integer.

In [47]:
def square_digits(num):
    l=[]
    while num>0:
        l.append((num%10)**2)
        num=num//10
    l=l[::-1]
    l= [str(i) for i in l]
    out=int("".join(l))
    return out
square_digits(3212)

9414

In [46]:
square_digits(2483)

416649

### Q4. Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [55]:
def setify(inp):
    return list(set(sorted(inp)))
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [54]:
setify([4, 4, 4, 4])

[4]

### Q5. Create a function that returns the mean of all digits.
Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

#### Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

In [63]:
def mean(num):
    ans=0
    count=0
    while num>0:
        dig=num%10
        ans+=dig
        count+=1
        num//=10
    return int(ans/count)
mean(666)

6

In [61]:
mean(12345)

3

In [64]:
mean(42)

3